
<div class="flex flex-wrap justify-between">
    <div class="flex-auto flex">
        <div class="heading-block pr-5">
            <h1 class="page-heading">NYC - Project Enchanced Bugets</h1>
            <div class="links-section">
                <a>Projects</a>
                <span> / </span>
                <a class="current"> NYC - Project Enchanced Bugets </a>
            </div>
        </div>
        <!-- <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Create Request</button>
         -->
        <!-- <lightning-button variant="brand" icon-name="utility:add" label="Create Request"
            onclick={openCreateRequestModal}></lightning-button> -->
    </div>
    <div class="text-center">
        <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Back</button>

        <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Save</button>

        <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Publish</button>

        <!-- <lightning-button variant="brand-outline" label="Back"></lightning-button>
        <lightning-button class="slds-p-left--small" variant="brand" label="Save"></lightning-button>
        <lightning-button class="slds-p-left--small" variant="brand" label="Publish"></lightning-button> -->
    </div>
</div>
