
<div class="flex flex-wrap justify-between">
    <div class="flex-auto flex gap-px">
        <div class="heading-block pr-5">
            <h1 class="page-heading">NYC - Project Enchanced Bugets</h1>
            <div class="links-section">
                <a class="text-primary text-xs">Projects</a>
                <span> / </span>
                <a class="current text-xs"> NYC - Project Enchanced Bugets </a>
            </div>
        </div>
        <!-- <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Create Request</button>
         -->
        <!-- <lightning-button variant="brand" icon-name="utility:add" label="Create Request"
            onclick={openCreateRequestModal}></lightning-button> -->
    </div>
    <div class="text-center">
        <button type="button" class="text-white secondary-button font-medium rounded-md text-sm px-4 py-2 mr-3 mb-2 hover:bg-slate-100">Back</button>

        <button type="button" class="text-white primary-button hover:bg-blue-700 font-medium rounded-md text-sm px-4 py-2 mr-3 mb-2 dark:hover:bg-blue-700" (click)="onSubmit()">Save</button>

        <button type="button" class="text-white primary-button hover:bg-blue-700 font-medium rounded-md text-sm px-4 py-2 mr-3 mb-2 dark:hover:bg-blue-700" (click)="handleSubmit()">Publish</button>
    </div>
</div>

<div class="card">
    <div class="flex justify-between">
        <h2 class="font-semibold text-base pb-5">Project Detail
            <span> | </span>
            <span class="font-medium color-success text-base">Active</span>
        </h2>
        <div>
            <span class="color-grey ">Health: </span>
            <span class="text-base font-medium color-warning">Goodwill</span>
        </div>
    </div>


   <div class="form feilds">
        <form [formGroup]="createProjectForm" (ngSubmit)="onSubmit()">
            <div class="grid gap-6 mb-6 md:grid-cols-2">
                <div>
                    <label for="projectName" class="block mb-2 text-sm text-gray-900 dark:text-white">
                    <abbr class="text-red-500">*</abbr>Project Name</label>
                    <input type="text" id="projectName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md  block w-full p-2.5 dark:bg-gray-700" placeholder="Enter Project Name" required formControlName="projectName">
                    <div *ngIf="createProjectForm?.get('projectName')?.invalid && createProjectForm?.get('projectName')?.touched">
                        <small class="text-red-500">Project Name is required.</small>
                    </div>
                </div>
                <div>
                    <label for="type" class="block mb-2 text-sm text-gray-900 dark:text-white">
                        <abbr class="text-red-500">*</abbr>Type</label>
                    <select id="type" formControlName="projectType" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md  block w-full p-2.5 dark:bg-gray-700" placeholder="Select  project Type">
                    <option value="Billable">Billable</option>
                    <option value="Nonbillable">Nonbillable</option>
                    </select>
                    <div *ngIf="createProjectForm?.get(' projectType')?.invalid && createProjectForm?.get(' projectType')?.touched">
                        <small class="text-red-500">Type is required.</small>
                    </div>
                </div>

                <div class="relative">
                    <label for="datepicker" class="block mb-2 text-sm text-gray-900 dark:text-white">
                        <abbr class="text-red-500">*</abbr>Start Date</label>
                    <input matInput [matDatepicker]="picker" id="datepicker" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md block w-full p-2.5 dark:bg-gray-700" placeholder="MM/DD/YYYY" required formControlName="projectStartDate">
                    <mat-datepicker-toggle matSuffix [for]="picker" class="absolute inset-y-3 right-0 mt-2.5 mr-2.5 cursor-pointer">
                    <mat-icon>calendar_today</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker class="absolute top-full left-0"></mat-datepicker>
                    <div *ngIf="createProjectForm?.get('projectStartDate')?.invalid && createProjectForm?.get('projectStartDate')?.touched">
                        <small class="text-red-500">Start Date is required.</small>
                    </div>
                </div>
                
                <div class="relative">
                    <label for="datepicker" class="block mb-2 text-sm text-gray-900 dark:text-white">
                        <abbr class="text-red-500">*</abbr>End Date</label>
                    <input matInput [matDatepicker]="picker1" id="datepicker1" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md block w-full p-2.5 dark:bg-gray-700" placeholder="MM/DD/YYYY" required formControlName="projectEndDate">
                    <mat-datepicker-toggle matSuffix [for]="picker1" class="absolute inset-y-3 right-0 mt-2.5 mr-2.5 cursor-pointer">
                    <mat-icon>calendar_today</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker1 class="absolute top-full left-0"></mat-datepicker>
                    <div *ngIf="createProjectForm?.get('projectEndDate')?.invalid && createProjectForm?.get('projectEndDate')?.touched">
                        <small class="text-red-500">End Date is required.</small>
                      </div>
                </div>
                
                <div>
                    <label for="ProjectManager" class="block mb-2 text-sm text-gray-900 dark:text-white">
                        <abbr class="text-red-500">*</abbr>Project Manager</label>
                    <input type="text" formControlName="projectManager" id="ProjectManager" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md  block w-full p-2.5 dark:bg-gray-700" placeholder="Enter Project Name" required>
                    <div *ngIf="createProjectForm?.get('projectManager')?.invalid && createProjectForm?.get('projectManager')?.touched">
                        <small class="text-red-500">Project Manager is required.</small>
                    </div>
                </div>

                <div>
                    <label for="projectEngagementLeader" class="block mb-2 text-sm text-gray-900 dark:text-white">
                        <abbr class="text-red-500">*</abbr>Engagement Leader</label>
                    <input type="text" formControlName="projectEngagementLeader" id="projectEngagementLeader" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md  block w-full p-2.5 dark:bg-gray-700" placeholder="Enter Project Name" required>
                    <div *ngIf="createProjectForm?.get('projectEngagementLeader')?.invalid && createProjectForm?.get('projectEngagementLeader')?.touched">
                        <small class="text-red-500">Engagement Leader is required.</small>
                      </div>
                </div>
                
                <div>
                    <label for="projectStatus" class="block mb-2 text-sm text-gray-900 dark:text-white">
                        <abbr class="text-red-500">*</abbr>project Status</label>
                    <select id="projectStatus" formControlName="projectStatus" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md  block w-full p-2.5 dark:bg-gray-700" placeholder="Select Type">
                    <option value="Active">Active</option>
                    <option value="Completed">Completed</option>
                    <option value="OnHold">On Hold</option>
                    <option value="Upcoming">Upcoming</option>
                    
                    </select>
                    <div *ngIf="createProjectForm?.get('projectStatus')?.invalid && createProjectForm?.get('projectStatus')?.touched">
                        <small class="text-red-500">Status is required.</small>
                      </div>
                </div>

                <div>
                    <label for="projectHealth" class="block mb-2 text-sm text-gray-900 dark:text-white">
                        <abbr class="text-red-500">*</abbr>Health</label>
                    <select id="projectHealth" formControlName="projectHealth" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md  block w-full p-2.5 dark:bg-gray-700" placeholder="Select Type">
                    <option value="Normal">Normal</option>
                    <option value="Critical">Critical</option>
                    <option value="Goodwill">Goodwill</option>
                    </select>
                    <div *ngIf="createProjectForm?.get('projectHealth')?.invalid && createProjectForm?.get('projectHealth')?.touched">
                        <small class="text-red-500">Health is required.</small>
                      </div>
                </div>

                </div>
                <div>
                <label for="projectDescription" class="block mb-2 text-sm text-gray-900 dark:text-white">
                    <abbr class="text-red-500">*</abbr>Description</label>
                <textarea id="projectDescription" formControlName="projectDescription" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter projectDescription"></textarea>
                <div *ngIf="createProjectForm?.get('projectDescription')?.invalid && createProjectForm?.get('projectDescription')?.touched">
                    <small class="text-red-500">Description is required.</small>
                </div>
               </div>
              <h2 class="font-semibold text-base pt-6 pb-5"> Budget Details</h2>
            <div class="grid gap-6 mb-6 md:grid-cols-2">
                <div>
                    <label for="projectTotalBudget" class="block mb-2 text-sm text-gray-900 dark:text-white">
                        <abbr class="text-red-500">*</abbr>Total Budget</label>
                    <input type="number" formControlName="projectTotalBudget" id="projectTotalBudget" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md  block w-full p-2.5 dark:bg-gray-700" placeholder="Enter Project Name" required>
                    <div *ngIf="createProjectForm?.get('projectTotalBudget')?.invalid && createProjectForm?.get('projectTotalBudget')?.touched">
                        <small class="text-red-500">Total Budget is required.</small>
                      </div>
                </div>
                <div>
                    <label for="projectBurnedBudget" class="block mb-2 text-sm text-gray-900 dark:text-white">Burned Budget</label>
                    <input type="number" id="projectBurnedBudget" formControlName="projectBurnedBudget" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md  block w-full p-2.5 dark:bg-gray-700" placeholder="Enter Project Name">
                </div>
                <div>
                    <label for="projectRemainingBudget" class="block mb-2 text-sm text-gray-900 dark:text-white">Remaining Budget</label>
                    <input type="number" id="projectRemainingBudget" formControlName="projectRemainingBudget" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md  block w-full p-2.5 dark:bg-gray-700" placeholder="Enter Project Name">
                </div>
                <div>
                    <label for="projectTotalBurnedHours" class="block mb-2 text-sm text-gray-900 dark:text-white">Total Burned Hours</label>
                    <input type="number" id="projectTotalBurnedHours" formControlName="projectTotalBurnedHours" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md  block w-full p-2.5 dark:bg-gray-700" placeholder="Enter Project Name">
                </div>
            </div>
        </form>
   </div>  
</div>


<div class="card mt-24">
    <app-add-resource-to-project [projectName]="projectName" [projectId]="projectId" ></app-add-resource-to-project>
</div>
