
<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-sm  dark-grey">
            <tr>
                <th scope="col" class="">
                    Resource Role
                </th>
                <th scope="col" class="">
                    Resource
                </th>
                <th scope="col" class="">
                    Allocated Budget
                </th>
                <th scope="col" class="">
                    Allocated Hours
                </th>
                <th scope="col" class="">
                    Burned Hours
                </th>
                <th scope="col" class="">
                    Assignment
                    Start Date
                </th>
                <th scope="col" class="">
                    Assignment Start Date
                </th>
                <th scope="col" class="">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="">
                <th scope="row" class="font-medium whitespace-nowrap">
                    Project Manager
                </th>
                <td class="">
                    Aviral Kataria
                </td>
                <td class="">
                    <input type="text" id="FirstName" class="p-2 border border-gray-300 text-gray-900 text-sm rounded-md  block w-full" required formControlName="resourceFirstname">
                </td>
                <td>
                    <input type="text" id="FirstName" class="p-2 border border-gray-300 text-gray-900 text-sm rounded-md  block w-full" required formControlName="resourceFirstname">
                </td>
                <td>
                    <div>100</div>
                </td>
                <td>
                    <div class="relative">
                        <input matInput [matDatepicker]="picker" id="datepicker_dob" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md block w-full p-2.5 dark:bg-gray-700" placeholder="MM/DD/YYYY" required formControlName="resourceDateOfBirth">
                        <mat-datepicker-toggle matSuffix [for]="picker" class="absolute inset-y-3 right-0 mt-2.5 mr-2.5 cursor-pointer">
                        <mat-icon>calendar_today</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker class="absolute top-full left-0"></mat-datepicker>
                    </div>
                </td>
                <td>
                    <div class="relative">
                        <input matInput [matDatepicker]="picker" id="datepicker_dob" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md block w-full p-2.5 dark:bg-gray-700" placeholder="MM/DD/YYYY" required formControlName="resourceDateOfBirth">
                        <mat-datepicker-toggle matSuffix [for]="picker" class="absolute inset-y-3 right-0 mt-2.5 mr-2.5 cursor-pointer">
                        <mat-icon>calendar_today</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker class="absolute top-full left-0"></mat-datepicker>
                    </div>
                </td>
                <td class="">
                    <a href="#" class="">Edit</a>
                    <span class="p-2">|</span>
                    <a href="#" class="err-color">Remove</a>

                </td>
            </tr>
            <tr class="">
                <th scope="row" class="font-medium whitespace-nowrap">
                    Project Manager
                </th>
                <td class="">
                    Aviral Kataria
                </td>
                <td class="">
                    <input type="text" id="FirstName" class="p-2 border border-gray-300 text-gray-900 text-sm rounded-md  block w-full" required formControlName="resourceFirstname">
                </td>
                <td>
                    <input type="text" id="FirstName" class="p-2 border border-gray-300 text-gray-900 text-sm rounded-md  block w-full" required formControlName="resourceFirstname">
                </td>
                <td>
                    <div>100</div>
                </td>
                <td>
                    <div class="relative">
                        <input matInput [matDatepicker]="picker" id="datepicker_dob" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md block w-full p-2.5 dark:bg-gray-700" placeholder="MM/DD/YYYY" required formControlName="resourceDateOfBirth">
                        <mat-datepicker-toggle matSuffix [for]="picker" class="absolute inset-y-3 right-0 mt-2.5 mr-2.5 cursor-pointer">
                        <mat-icon>calendar_today</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker class="absolute top-full left-0"></mat-datepicker>
                    </div>
                </td>
                <td>
                    <div class="relative">
                        <input matInput [matDatepicker]="picker" id="datepicker_dob" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md block w-full p-2.5 dark:bg-gray-700" placeholder="MM/DD/YYYY" required formControlName="resourceDateOfBirth">
                        <mat-datepicker-toggle matSuffix [for]="picker" class="absolute inset-y-3 right-0 mt-2.5 mr-2.5 cursor-pointer">
                        <mat-icon>calendar_today</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker class="absolute top-full left-0"></mat-datepicker>
                    </div>
                </td>
                <td class="">
                    <a href="#" class="">View Timecard</a>
                    <span class="p-2">|</span>
                    <a href="#" class="err-color">Remove</a>

                </td>
            </tr>
            <tr class="">
                <th scope="row" class="font-medium whitespace-nowrap">
                    Project Manager
                </th>
                <td class="">
                    Aviral Kataria
                </td>
                <td class="">
                    <input type="text" id="FirstName" class="p-2 border border-gray-300 text-gray-900 text-sm rounded-md  block w-full" required formControlName="resourceFirstname">
                </td>
                <td>
                    <input type="text" id="FirstName" class="p-2 border border-gray-300 text-gray-900 text-sm rounded-md  block w-full" required formControlName="resourceFirstname">
                </td>
                <td>
                    <div>100</div>
                </td>
                <td>
                    <div class="relative">
                        <input matInput [matDatepicker]="picker" id="datepicker_dob" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md block w-full p-2.5 dark:bg-gray-700" placeholder="MM/DD/YYYY" required formControlName="resourceDateOfBirth">
                        <mat-datepicker-toggle matSuffix [for]="picker" class="absolute inset-y-3 right-0 mt-2.5 mr-2.5 cursor-pointer">
                        <mat-icon>calendar_today</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker class="absolute top-full left-0"></mat-datepicker>
                    </div>
                </td>
                <td>
                    <div class="relative">
                        <input matInput [matDatepicker]="picker" id="datepicker_dob" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md block w-full p-2.5 dark:bg-gray-700" placeholder="MM/DD/YYYY" required formControlName="resourceDateOfBirth">
                        <mat-datepicker-toggle matSuffix [for]="picker" class="absolute inset-y-3 right-0 mt-2.5 mr-2.5 cursor-pointer">
                        <mat-icon>calendar_today</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker class="absolute top-full left-0"></mat-datepicker>
                    </div>
                </td>
                <td class="">
                    <a href="#" class="">Edit</a>
                    <span class="p-2">|</span>
                    <a href="#" class="err-color">Remove</a>

                </td>
            </tr>
            <tr class="">
                <th scope="row" class="font-medium whitespace-nowrap">
                    Project Manager
                </th>
                <td class="">
                    Aviral Kataria
                </td>
                <td class="">
                    <input type="text" id="FirstName" class="p-2 border border-gray-300 text-gray-900 text-sm rounded-md  block w-full" required formControlName="resourceFirstname">
                </td>
                <td>
                    <input type="text" id="FirstName" class="p-2 border border-gray-300 text-gray-900 text-sm rounded-md  block w-full" required formControlName="resourceFirstname">
                </td>
                <td>
                    <div>100</div>
                </td>
                <td>
                    <div class="relative">
                        <input matInput [matDatepicker]="picker" id="datepicker_dob" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md block w-full p-2.5 dark:bg-gray-700" placeholder="MM/DD/YYYY" required formControlName="resourceDateOfBirth">
                        <mat-datepicker-toggle matSuffix [for]="picker" class="absolute inset-y-3 right-0 mt-2.5 mr-2.5 cursor-pointer">
                        <mat-icon>calendar_today</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker class="absolute top-full left-0"></mat-datepicker>
                    </div>
                </td>
                <td>
                    <div class="relative">
                        <input matInput [matDatepicker]="picker" id="datepicker_dob" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md block w-full p-2.5 dark:bg-gray-700" placeholder="MM/DD/YYYY" required formControlName="resourceDateOfBirth">
                        <mat-datepicker-toggle matSuffix [for]="picker" class="absolute inset-y-3 right-0 mt-2.5 mr-2.5 cursor-pointer">
                        <mat-icon>calendar_today</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker class="absolute top-full left-0"></mat-datepicker>
                    </div>
                </td>
                <td class="">
                    <a href="#" class="">View Timecard</a>
                    <span class="p-2">|</span>
                    <a href="#" class="err-color">Remove</a>

                </td>
            </tr>
            
        </tbody>
    </table>
</div>
