
<div class="flex flex-wrap justify-between">
    <div class="flex-auto flex gap-px">
        <div class="heading-block pr-5">
            <h1 class="page-heading">Create Resource</h1>
            <div class="links-section">
                <a class="text-primary text-xs">Resources</a>
                <span> / </span>
                <a class="current text-xs">Create new resource</a>
            </div>
        </div>
        <!-- <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Create Request</button>
         -->
        <!-- <lightning-button variant="brand" icon-name="utility:add" label="Create Request"
            onclick={openCreateRequestModal}></lightning-button> -->
    </div>
    <div class="text-center">
        <button type="button" class="text-white secondary-button font-medium rounded-md text-sm px-4 py-2 mr-3 mb-2 hover:bg-slate-100">Back</button>

        <button type="button" class="text-white primary-button hover:bg-blue-700 font-medium rounded-md text-sm px-4 py-2 mr-3 mb-2 dark:hover:bg-blue-700" (click)="saveForm()">Save</button>

        <button type="button" class="text-white primary-button hover:bg-blue-700 font-medium rounded-md text-sm px-4 py-2 mr-3 mb-2 dark:hover:bg-blue-700" (click)="handleSubmit()">Create</button>
    </div>
</div>

<div class="card">
    <div class="flex justify-between">
        <h2 class="font-semibold text-base pb-5">Create New Resource
            <!-- <span> | </span>
            <span class="font-medium color-success text-base">Active</span> -->
        </h2>
        <!-- <div>
            <span class="color-grey ">Health: </span>
            <span class="text-base font-medium color-warning">Goodwill</span>
        </div> -->
    </div>


    <div class="form feilds">
        <form [formGroup]="createResourceForm">
            <div class="grid gap-6 mb-6 md:grid-cols-2">
                <div>
                    <label for="FirstName" class="block mb-2 text-sm text-gray-900 dark:text-white">
                    <abbr class="text-red-500">*</abbr>First Name</label>
                    <input type="text" id="FirstName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md  block w-full p-2.5 dark:bg-gray-700" placeholder="Enter resource first name" required formControlName="resourceFirstname">
                    <div *ngIf="createResourceForm?.get('FirstName')?.invalid && createResourceForm?.get('FirstName')?.touched">
                        <small class="text-red-500">First Name is required.</small>
                    </div>
                </div>

                <div>
                    <label for="LastName" class="block mb-2 text-sm text-gray-900 dark:text-white">
                    <abbr class="text-red-500">*</abbr>Last Name</label>
                    <input type="text" id="LastName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md  block w-full p-2.5 dark:bg-gray-700" placeholder="Enter resource last name" required formControlName="resourceLastName">
                    <div *ngIf="createResourceForm?.get('LastName')?.invalid && createResourceForm?.get('LastName')?.touched">
                        <small class="text-red-500">Last Name is required.</small>
                    </div>
                </div>

                <div>
                    <label for="PhoneNumber" class="block mb-2 text-sm text-gray-900 dark:text-white">
                    <abbr class="text-red-500">*</abbr>Phone Number</label>
                    <input type="number" id="PhoneNumber" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md  block w-full p-2.5 dark:bg-gray-700" placeholder="Enter resource phone number" required formControlName="resourcePhoneNumber">
                    <div *ngIf="createResourceForm?.get('PhoneNumber')?.invalid && createResourceForm?.get('PhoneNumber')?.touched">
                        <small class="text-red-500">Phone number is required.</small>
                    </div>
                </div>
                <div>
                    <label for="Email" class="block mb-2 text-sm text-gray-900 dark:text-white">
                    <abbr class="text-red-500">*</abbr>Email</label>
                    <input type="email" id="Email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md  block w-full p-2.5 dark:bg-gray-700" placeholder="Enter resource email" required formControlName="resourceEmail">
                    <div *ngIf="createResourceForm?.get('Email')?.invalid && createResourceForm?.get('Email')?.touched">
                        <small class="text-red-500">Email is required.</small>
                    </div>
                </div>

                <div class="relative">
                    <label for="datepicker_dob" class="block mb-2 text-sm text-gray-900 dark:text-white">
                        <abbr class="text-red-500">*</abbr>Date of Birth</label>
                    <input matInput [matDatepicker]="picker" id="datepicker_dob" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md block w-full p-2.5 dark:bg-gray-700" placeholder="MM/DD/YYYY" required formControlName="resourceDateOfBirth">
                    <mat-datepicker-toggle matSuffix [for]="picker" class="absolute inset-y-3 right-0 mt-2.5 mr-2.5 cursor-pointer">
                    <mat-icon>calendar_today</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker class="absolute top-full left-0"></mat-datepicker>
                    <div *ngIf="createResourceForm?.get('dateOfBirth')?.invalid && createResourceForm?.get('dateOfBirth')?.touched">
                        <small class="text-red-500">Start Date is required.</small>
                    </div>
                </div>
                 
                <div>
                    <label for="location" class="block mb-2 text-sm text-gray-900 dark:text-white">
                        <abbr class="text-red-500">*</abbr>Location</label>
                    <select id="location" formControlName="resourceLocation" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md  block w-full p-2.5 dark:bg-gray-700" placeholder="Select Type">
                    <option value="Hyderabad">Hyderabad</option>
                    <option value="Pune">Pune</option>
                    <option value="Banglore">Banglore</option>
                    <option value="Mumbai">Mumbai</option>
                    </select>
                    <div *ngIf="createResourceForm?.get('location')?.invalid && createResourceForm?.get('location')?.touched">
                        <small class="text-red-500">Location is required.</small>
                      </div>
                </div>

            
                <div>
                    <label for="role" class="block mb-2 text-sm text-gray-900 dark:text-white">
                        <abbr class="text-red-500">*</abbr>Role</label>
                    <select id="role" formControlName="resourceRole" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md  block w-full p-2.5 dark:bg-gray-700" placeholder="Select resource role">
                    <!-- <option value="CA">Project Cordinator</option>
                    <option value="FR">Program Manager</option>
                    <option value="DE">Bussines Aanalyst</option>
                    <option value="DE">Engagement Leader</option> -->
                    <option value="Program Manager">Program Manager</option>
                    <option value="Project Manager">Project Manager</option>
                    <option value="Software Engineer">Software Engineer</option>
                    <option value="Salesforce Dev">Salesforce Dev</option>
                    <option value="UI/UX Designer">UI/UX Designer</option>
                    <option value="Backend Engineer">Backend Engineer</option>
                    <option value="Quality Analyst">Quality Analyst</option>
                    <option value="Business Analyst">Business Analyst</option>
                    <option value="Backend Engineer">Backend Engineer</option>
                    </select>
                    <div *ngIf="createResourceForm?.get('role')?.invalid && createResourceForm?.get('role')?.touched">
                        <small class="text-red-500">Role is required.</small>
                      </div>
                </div>


    
                <div class="relative">
                    <label for="datepicker_jon" class="block mb-2 text-sm text-gray-900 dark:text-white">
                        <abbr class="text-red-500">*</abbr>Joining Date</label>
                    <input matInput [matDatepicker]="picker_j" id="datepicker_jon" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md block w-full p-2.5 dark:bg-gray-700" placeholder="MM/DD/YYYY" required formControlName="resourceJoiningDate">
                    <mat-datepicker-toggle matSuffix [for]="picker_j" class="absolute inset-y-3 right-0 mt-2.5 mr-2.5 cursor-pointer">
                    <mat-icon>calendar_today</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker_j class="absolute top-full left-0"></mat-datepicker>
                    <div *ngIf="createResourceForm?.get('JoiningDate')?.invalid && createResourceForm?.get('JoiningDate')?.touched">
                        <small class="text-red-500">Joining Date is required.</small>
                    </div>
                </div>
                
                <div>
                    <label for="reportingManager" class="block mb-2 text-sm text-gray-900 dark:text-white">
                        <abbr class="text-red-500">*</abbr>Reporting Manager</label>
                    <input type="text" formControlName="resourceReportingManager" id="reportingManager" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md  block w-full p-2.5 dark:bg-gray-700" placeholder="Enter reporting Name" required>
                    <div *ngIf="createResourceForm?.get('reportingManager')?.invalid && createResourceForm?.get('reportingManager')?.touched">
                        <small class="text-red-500">Reporting Manager is required.</small>
                    </div>
                </div>

                <div>
                    <label for="experience" class="block mb-2 text-sm text-gray-900 dark:text-white">
                    <abbr class="text-red-500">*</abbr>Experience</label>
                    <input type="number" id="experience" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md  block w-full p-2.5 dark:bg-gray-700" placeholder="Enter Project Name" required formControlName="resourceExperience">
                    <div *ngIf="createResourceForm?.get('experience')?.invalid && createResourceForm?.get('experience')?.touched">
                        <small class="text-red-500">Experience is required.</small>
                    </div>
                </div>
               </div>
        </form>
    </div>
</div>


<div id="toast-success" *ngIf="showToast"  class="fixed top-0 left-1/2 transform -translate-x-1/2 flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800 animate-fade-in" role="alert" role="alert">
    <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200">
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
        <span class="sr-only">Check icon</span>
    </div>
    <div class="ml-3 text-sm font-normal">
        <div>Resource Saved.</div>
    </div>
    <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" data-dismiss-target="#toast-success" aria-label="Close" (click)="showToast = false">
        <span class="sr-only">Close</span>
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </button>
</div>



        
