



<!-- <a class="skip-link" href="#main-content-0" tabindex="0">Skip to main content</a> -->

<div class="navigation">
    <app-header></app-header>
</div>
<div class="s-layout__content openSidebar">
        <div id="main-content-0">
            <app-main-layout></app-main-layout>
        </div>
</div>
<div class="footer" role="contentinfo">
    <div class="flex justify-between">
        <p class="text-xs">© 2023 - 2024 WorkStream360</p> 
        <p class="text-xs">Designed by WorkStream360 team</p>
    </div>
</div>
