/* You can add global styles to this file, and also import other style files */

:host {
    --type-scale: 0;
  }

@tailwind base;
@tailwind components;
@tailwind utilities;

// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


@import 
"../src/scss/base",
"../src/scss/sidebar",
"../src/scss/utility" ,
"../src/scss/button" ,
"../src/scss/table"






// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
